/* ======================================= */
/*				style.css				   */
/* ======================================= */
html {
  height: 100%;
}
body {
  margin: 0;
  background-color: #333333;
  height: 100%;
}
#site {
  width: 80%;
  max-width: 760px;
  min-height: 100%;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 48px;
  box-shadow: 0px 0px 15px #111111;
  background-color: #fdfdff;
}
#site h1 {
  width: 100%;
  padding: 0;
  padding-top: 24px;
  padding-bottom: 24px;
  margin: 0;
  font-family: "Oxygen", sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: 72px;
  color: #6688bb;
  border-bottom: 1px solid #ccc;
}
#site p {
  padding: 0;
  padding-top: 24px;
  padding-bottom: 24px;
  margin: 0;
  font-family: "Mako", sans-serif;
  text-align: justify;
  font-size: 24px;
  color: #444444;
}
#site div#physicswrapper div#buttonwrapper {
  width: 96px;
  margin-left: auto;
  margin-right: auto;
}
#site div#physicswrapper div#buttonwrapper .button1 {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #88aadd;
  border: none;
  box-shadow: none;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
}
#site div#physicswrapper div#buttonwrapper .button1:active {
  background-color: #6688bb;
}
#site div#physicswrapper div#canvaswrapper {
  clear: both;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}
#site div#physicswrapper div#canvaswrapper #mainCanvas {
  width: 600px;
  height: 400px;
  background-color: #eeeeee;
  border: 2px solid #222222;
}
